{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 130,
  "tabWidth": 3,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "jsxSingleQuote": false,
  "plugins": []
}
